<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>86177DC0949A502B96F131A2B78306E557D83896</string>
    <key>teamID</key>
    <string>8S6PWN6A5K</string>
</dict>
</plist>
